      </div>

    <p class="text-center"><small>Thrown together by <a href="http://vestera.as">Erik</a> using <a href="http://getbootstrap.com">Twitter Bootstrap</a>, <a href="http://pythonhosted.org/Markdown/">Python Markdown</a>, <a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight.js</a> and <a href="http://mathjax.com">MathJax</a>.</small></p>

    </div>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
    	hljs.initHighlightingOnLoad();
        MathJax.Hub.Config({
            "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
        });
    	// auto adjust the height of inputMessage
		$('#inputMessageC').on( 'keyup', 'textarea', function (e){
    		$(this).css('height', 'auto' );
    		$(this).height( this.scrollHeight );
		});
		$('#inputMessageC').find( 'textarea' ).keyup();
    </script>
  </body>
</html>