<form class="form-horizontal" role="form" action="" method="post">
  <div class="form-group">
    <div class="col-lg-6">
      {% if not user.auth %}
      <input type="name" class="form-control" name="name" id="inputName1" placeholder="Name" value="{{ user.name }}">
      {% else %}
      <p class="form-control-static">{{ user.name }}</p>
      {% endif %}
    </div>
    <div class="col-lg-6">
      {% if not user.auth %}
      <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="Password">
      {% endif %}
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12" id="inputMessageC">
      <textarea class="form-control" id="inputMessage" name="{{ textarea }}" placeholder="{{ textarea|title }}" rows="5" style="resize: vertical;">{{ user.message }}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4">
      <a data-toggle="modal" href="#helpModal" type="submit" class="btn btn-default">Help</a>
    </div>
    <div class="col-lg-4">
      {% if not user.auth %}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="remember" value="set"> Remember me
        </label>
      </div>
      {% endif %}
    </div>
    <div class="col-lg-4">
      <button type="submit" class="btn btn-default btn-primary pull-right">Publish</button>
    </div>
  </div>
</form>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Help</h4>
        </div>
        <div class="modal-body">
          <p>This:</p>
          <pre>~~~~.java
public static void printRectArea(int sideA, int sideB) {
  System.out.println(
    "A " + sideA + "x" + sideB + " rectangle " +
    "has an area of " + rectangle(sideA, sideB));
}
~~~~</pre>
        <p>turns into this:</p>
        <pre><code class="java">public static void printRectArea(int sideA, int sideB) {
  System.out.println(
    "A " + sideA + "x" + sideB + " rectangle " +
    "has an area of " + rectangle(sideA, sideB));
}</code></pre>
          <p>This:</p>
          <pre>$$
  (P \leftrightarrow Q)
  \Leftrightarrow
  (P \rightarrow Q) \land (Q \rightarrow P)
$$</pre>
          <p>turns into this:</p>
          <p>$$ (P \leftrightarrow Q) \Leftrightarrow (P \rightarrow Q) \land (Q \rightarrow P) $$</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->