	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="panel-title" id="post{{ id }}">{{ name }}</h3>
				</div>
				<div class="col-lg-6">
					<small class="pull-right">{{ time }} | <a href="edit-{{ id }}">edit</a> | <a href="{{ id }}">permalink</a> | <a href="raw-{{ id }}">raw</a></small>
				</div>
			</div>
		</div>
		<div class="panel-body">
			{{ content }}
		</div>
	</div>